In [1]:
#Import Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [3]:
dataset = pd.read_csv('data.csv')
dataset.head(15)

,year,month,day,week,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend
0,2016,1,1,Fri,45,45,45.6,45,43,50,44,29
1,2016,1,2,Sat,44,45,45.7,44,41,50,44,61
2,2016,1,3,Sun,45,44,45.8,41,43,46,47,56
3,2016,1,4,Mon,44,41,45.9,40,44,48,46,53
4,2016,1,5,Tues,41,40,46.0,44,46,46,46,41
5,2016,1,6,Wed,40,44,46.1,51,43,49,48,40
6,2016,1,7,Thurs,44,51,46.2,45,45,49,46,38
7,2016,1,8,Fri,51,45,46.3,48,43,47,46,34
8,2016,1,9,Sat,45,48,46.4,50,46,50,45,47
9,2016,1,10,Sun,48,50,46.5,52,45,48,48,49
10,2016,1,11,Mon,50,52,46.7,45,42,48,48,39
11,2016,1,12,Tues,52,45,46.8,49,44,50,45,61
12,2016,1,13,Wed,45,49,46.9,55,45,51,46,33
13,2016,1,14,Thurs,49,55,47.0,49,43,47,46,58
14,2016,1,15,Fri,55,49,47.1,48,46,51,46,65

In [5]:
print('The shape of our features is:', dataset.shape)

The shape of our features is: (348, 12)

In [8]:
print(dataset.describe())

         year       month         day      temp_2      temp_1     average  \
count   348.0  348.000000  348.000000  348.000000  348.000000  348.000000
mean   2016.0    6.477011   15.514368   62.652299   62.701149   59.760632
std       0.0    3.498380    8.772982   12.165398   12.120542   10.527306
min    2016.0    1.000000    1.000000   35.000000   35.000000   45.100000
25%    2016.0    3.000000    8.000000   54.000000   54.000000   49.975000
50%    2016.0    6.000000   15.000000   62.500000   62.500000   58.200000
75%    2016.0   10.000000   23.000000   71.000000   71.000000   69.025000
max    2016.0   12.000000   31.000000  117.000000  117.000000   77.400000

           actual  forecast_noaa  forecast_acc  forecast_under      friend
count  348.000000     348.000000    348.000000      348.000000  348.000000
mean    62.543103      57.238506     62.373563       59.772989   60.034483
std     11.794146      10.605746     10.549381       10.705256   15.626179
min     35.000000      41.000000     46.000000       44.000000   28.000000
25%     54.000000      48.000000     53.000000       50.000000   47.750000
50%     62.500000      56.000000     61.000000       58.000000   60.000000
75%     71.000000      66.000000     72.000000       69.000000   71.000000
max     92.000000      77.000000     82.000000       79.000000   95.000000

In [11]:
dataset = pd.get_dummies(dataset)
dataset.iloc[:,5:].head(5)

,average,actual,forecast_noaa,forecast_acc,forecast_under,friend,week_Fri,week_Mon,week_Sat,week_Sun,week_Thurs,week_Tues,week_Wed
0,45.6,45,43,50,44,29,1,0,0,0,0,0,0
1,45.7,44,41,50,44,61,0,0,1,0,0,0,0
2,45.8,41,43,46,47,56,0,0,0,1,0,0,0
3,45.9,40,44,48,46,53,0,1,0,0,0,0,0
4,46.0,44,46,46,46,41,0,0,0,0,0,1,0

In [13]:
labels = np.array(dataset['actual'])

dataset= dataset.drop('actual', axis = 1)
feature_list = list(dataset.columns)
dataset = np.array(dataset)

In [15]:
train_features, test_features, train_labels, test_labels = train_test_split(dataset, labels, test_size = 0.25, random_state = 42)

In [16]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (261, 17)
Training Labels Shape: (261,)
Testing Features Shape: (87, 17)
Testing Labels Shape: (87,)

In [17]:
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
rf.fit(train_features, train_labels);

In [18]:
predictions = rf.predict(test_features)
errors = abs(predictions - test_labels)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 3.87 degrees.

In [19]:
mape = 100 * (errors / test_labels)
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 93.93 %.