In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

In [2]:
dataset = pd.read_csv('heart.csv')

In [5]:
dataset.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [8]:
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, -1]

In [10]:
# Splitting the dataset into the Training set and Test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=33, shuffle=True)

In [12]:
print(X_train)
print('<<<<<<<<<<<<<<>>>>>>>>>')
print(X_test)
print('<<<<<<<<<<<<<<>>>>>>>>>')
print(y_train)
print('<<<<<<<<<<<<<<>>>>>>>>>')
print(y_test)
print('<<<<<<<<<<<<<<>>>>>>>>>')

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
193   60    1   0       145   282    0        0      142      1      2.8
260   66    0   0       178   228    1        1      165      1      1.0
276   58    1   0       146   218    0        1      105      0      2.0
256   58    1   0       128   259    0        0      130      1      3.0
93    54    0   1       132   288    1        0      159      1      0.0
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
201   60    1   0       125   258    0        0      141      1      2.8
146   44    0   2       118   242    0        1      149      0      0.3
66    51    1   2       100   222    0        1      143      1      1.2
216   62    0   2       130   263    0        1       97      0      1.2
20    59    1   0       135   234    0        1      161      0      0.5

     slope  ca  thal
193      1   2     3
260      1   2     3
276      1   1     3
256      1   2     3
93       2   1     2
..     ...  ..   ...
201      1   1     3
146      1   1     2
66       1   0     2
216      1   1     3
20       1   0     3

[212 rows x 13 columns]
<<<<<<<<<<<<<<>>>>>>>>>
     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
249   69    1   2       140   254    0        0      146      0      2.0
294   44    1   0       120   169    0        1      144      1      2.8
273   58    1   0       100   234    0        1      156      0      0.1
204   62    0   0       160   164    0        0      145      0      6.2
81    45    1   1       128   308    0        0      170      0      0.0
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
64    58    1   2       140   211    1        0      165      0      0.0
228   59    1   3       170   288    0        0      159      0      0.2
220   63    0   0       150   407    0        0      154      0      4.0
15    50    0   2       120   219    0        1      158      0      1.6
136   60    0   2       120   178    1        1       96      0      0.0

     slope  ca  thal
249      1   3     3
294      0   0     1
273      2   1     3
204      0   3     3
81       2   0     2
..     ...  ..   ...
64       2   0     2
228      1   0     3
220      1   3     3
15       1   0     2
136      2   0     2

[91 rows x 13 columns]
<<<<<<<<<<<<<<>>>>>>>>>
193    0
260    0
276    0
256    0
93     1
      ..
201    0
146    1
66     1
216    0
20     1
Name: target, Length: 212, dtype: int64
<<<<<<<<<<<<<<>>>>>>>>>
249    0
294    0
273    0
204    0
81     1
      ..
64     1
228    0
220    0
15     1
136    1
Name: target, Length: 91, dtype: int64
<<<<<<<<<<<<<<>>>>>>>>>

In [13]:
# Feature Scaling
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [20]:
# Fitting Logistic Regression to the Training set
clss = LogisticRegression(random_state = 0)
clss.fit(X_train, y_train)

LogisticRegression(random_state=0)

In [21]:
# Predicting the Test set results
y_pred = clss.predict(X_test)
print(y_pred)

[0 0 1 0 1 1 0 0 1 0 1 0 1 1 1 0 1 0 1 1 1 0 0 1 0 0 0 0 1 1 1 1 0 1 0 0 0
 1 1 1 1 1 0 0 1 1 1 0 1 1 1 1 1 0 1 1 0 1 1 0 1 0 0 1 0 1 1 0 1 1 1 0 1 1
 1 1 1 1 1 0 0 0 1 1 0 0 1 1 0 1 1]

In [23]:
#probability of all values
pr = clss.predict_proba(X_test)[0:10,:]
print(pr)

[[0.87629452 0.12370548]
 [0.59824145 0.40175855]
 [0.26732422 0.73267578]
 [0.98292601 0.01707399]
 [0.07754486 0.92245514]
 [0.40333353 0.59666647]
 [0.63086704 0.36913296]
 [0.92571265 0.07428735]
 [0.02389904 0.97610096]
 [0.87120716 0.12879284]]

In [25]:
#probability of zeros
pr = clss.predict_proba(X_test)[0:10,0]
print(pr)

[0.87629452 0.59824145 0.26732422 0.98292601 0.07754486 0.40333353
 0.63086704 0.92571265 0.02389904 0.87120716]

In [26]:
#probability of ones
pr = clss.predict_proba(X_test)[0:10,1]
print(pr)

[0.12370548 0.40175855 0.73267578 0.01707399 0.92245514 0.59666647
 0.36913296 0.07428735 0.97610096 0.12879284]

In [28]:
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[33 17]
 [ 3 38]]

In [29]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

0.21978021978021978

In [30]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

0.21978021978021978

In [31]:
from sklearn.metrics import median_absolute_error
median_absolute_error(y_test, y_pred)

0.0